<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for responsive design and character encoding -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS for styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Title of the webpage -->
    <title>Contact Us</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="container-fluid">
        <ul>
            <li><strong>Encryption Tool</strong></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="/contact" role="button" class="button">Contact</a></li>
            <!-- Placeholder link for contact information -->
        </ul>
    </nav>

    <!-- Heading for the Contact page -->

    <header class="container">
        <h1 class="first-element">Contact Us</h1>
    </header>

    <!-- Main content of the webpage -->
    <main class="container">
        <div class="grid">
            <section>

                <!-- Introduction text -->
                <p>If you have any questions, suggestions, or feedback, please feel free to reach out to us. We're here
                    to help!</p>

                <!-- Contact information -->
                <div>
                    <h2>Contact Information</h2>
                    <p>Email: <a href="mailto:sggzhao3@liverpool.ac.uk">sggzhao3@liverpool.ac.uk</a></p>
                    <p>Organization: University of Liverpool</p>
                    <p>Address: Liverpool, UK, L69 3BX</p>
                    <p>Telephone: +44 (0) 151 794 5927</p>
                </div>

            
            </section>
        </div>
        <!-- Footer -->
        <footer style="margin-top: 5rem">
            <p>&copy; 2024 Gubin Zhao. All rights reserved.</p>
        </footer>
    </main>



    <!-- External JavaScript file -->
    <script src="static/webscript.js" type="text/javascript"></script>
</body>

</html>