<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for responsive design and character encoding -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS for styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Title of the webpage -->
    <title>Features</title>
</head>

<body>
    <!-- Navigation bar -->
    <nav class="container-fluid">
        <ul>
            <li><strong>Encryption Tool</strong></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/features">Features</a></li>
            <li><a href="/contact" role="button" class="button">Contact</a></li>
            <!-- Placeholder link for contact information -->
        </ul>
    </nav>

    <!-- Heading for the Features page -->
    <header class="container">
        <h1 class="first-element">Features</h1>
    </header>

    <!-- Main content of the webpage -->
    <main class="container">
        <p>Our Encryption Tool offers the following features:</p>

        <section>
            <h2>Encryption and Decryption</h2>
            <p>Our tool allows you to encrypt and decrypt your text using various cipher methods. You can choose to use a
                key for encryption and decryption.</p>

            <h2>Multiple Cipher Methods</h2>
            <p>We offer a variety of cipher methods, including the Caesar cipher, the Vigenère cipher, and the Playfair
                cipher. You can select the method that best suits your needs.</p>

            <h2>Language Support</h2>
            <p>Our tool supports multiple languages, including English and Chinese. You can select the language of your
                choice for encryption and decryption.</p>

            <h2>Key Generation</h2>
            <p>If you choose to use a key for encryption and decryption, our tool can generate a random key for you. This
                ensures that your text is secure and protected.</p>
        </section>

        <footer style="margin-top: 8rem">
            <p>&copy; 2024 Gubin Zhao. All rights reserved.</p>
        </footer>
    </main>

    <script src="static/webscript.js" type="text/javascript"></script>
</body>
    

</html>