<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Privacy Policy</title>

</head>

<body>
    <nav class="container-fluid">
        <ul>
            <li><strong>Encryption Tool</strong></li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#" role="button">Contact</a></li>
        </ul>
    </nav>

    <header class="container">
        <h1>Privacy Policy</h1>
    </header>

    <main class="container">
        <p>Last updated: 16/2/2024</p>
        <p>This is a personal project running locally, and it is designed for learning and demonstration purposes only.</p>

        <section>
            <h2>Data Collection and Use</h2>
            <p>We do not collect or store any personal data. This project is intended for local use, and no data is transmitted over the internet.</p>

            <h2>Contact Information</h2>
            <p>If you have any questions or suggestions about this Privacy Policy, please feel free to contact us.</p>

        </section>

        <footer class="pp-footer">
            <p>&copy; 2024 Gubin Zhao. All rights reserved.</p>
        </footer>
    </main>

        
    
</body>

</html>
